

        <%- include('../views/partials/header') %>
        <h1 style="text-align: center;">Welcome to Blog buster </h1>


        <p>Share your thoughts, stories, and expertise with the world.</p>
        <section>
            <p>
                At <strong>Blog Buster</strong>, we believe that everyone has a unique voice and story to share. Our
                blogging platform is designed to provide you with a space to express yourself, connect with others, and explore
                a wide range of topics.
            </p>
            <p>
                Whether you're passionate about technology, travel, fashion, personal development, or any other subject, you'll
                find a supportive community of like-minded individuals here. We encourage you to join us, start a blog, and
                share your ideas with the world.
            </p>
        </section>
        <% console.log(post); %>
        <% post.forEach((ele)=>{ %>
            <h1><%= ele.title %></h1>
            <%const c =ele.content; %>
            <%const trunc = c.substring(0,100); %>
            <p><%= trunc+ "..."%> <a href="/post/<%= ele.title %>">Read more</a></p>
         <%  }) %>



        <%- include('../views/partials/footer') %>
  

    
    
